# MySQL Configuration File
[client]
host = localhost
user = $MYSQL_USER
password = $MYSQL_PASSWORD
port = $MYSQL_PORT

[mysqld]
datadir = /var/lib/mysql
socket = /var/lib/mysql/mysql.sock
port = 3306
log-error = /var/log/mysql/error.log
character-set-server=utf8
collation-server=utf8_general_ci
secure-file-priv=''

pid-file = /var/run/mysqld/mysqld.pid
user = mysql
bind-address = 0.0.0.0  # Listen on all interfaces
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

[mysql_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
